h1{
  font-size:4em;
  color:#1a237e;
}

body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  text-align: center;
  background: #bbdefb;
}

a {
  color: #00B7FF;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: #3d5afe;
}

button {
  background: #1a237e;
  color:white;
  border:none;
  font-size: 1.2em;
  margin: 1em;
  padding:1em;
}
.choice{
  color:white;
  margin: 1em;
}

button:focus{
  border: #1a237e;
  background: #3d5afe;
}

p{
  /*font-size: 1.3em;*/
}

form{
  display: inline;
}

span.card-title.title{
  font-size: 3em;
}
