extends layout

block content
    h1.
        Results
    ul

        each result, i in yelp_docs
            li
                p=result.yelp_name
                br
        hr
        each result, i in event_docs
            li
                p=result.event_name
                br

